html, body {
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 24px;
    background: #F9F9F9;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-height: 1200px;
    max-height: 1300.5px;
    background: url("../images/head-bg.png") center top / 100% 1200px no-repeat;
}
.head-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:16px;
    position: relative;
}

.logo {
    max-width: 163px;
    max-height: 75px;
    margin-right: 83px;
    cursor: pointer;
}

.head-nav {
    display: flex;
    gap: 43px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.47);
}

.head-navigation > div {
    display: flex;
    gap: 13px;
}

.welcome-slider {
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 100px;
}

.image-comparison {
    position: relative;
    display: inline-block;
    width: 370px;
    max-width: 370px;
    max-height: 461px;
    overflow: hidden;
    border-radius: 20px;
    transition: .3s all;
}

.image-comparison__before {
    position: absolute;
    width: 50%;
    overflow: hidden;
}

.image-comparison__image {
    display: block;
}

.image-comparison__slider {
    background: black;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    cursor: col-resize;
    outline: none;
    border: none;
}

.image-comparison__slider::before {
    content: "";
    position: absolute;
    top: calc(50% - 20px);
    left: -16px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black url("../images/arrows.png") no-repeat center;
    border: 2px solid #000000;
    background-size: 90%;
}

.image-comprison__slider:hover,
.image-comprison__slider:focus,
.image-comprison__slider:hover::before,
.image-comprison__slider:focus::before {
    background-color: #000000;
    outline: none;
    border: none;
}

.welcome-slider > article {
    display: flex;
    flex-direction: column;
}

.header-big-article {
    background: #D3F8E2;
    max-width: 570px;
    max-height: 327px;
    border-radius: 20px;
    padding: 1px 15px 1px 15px;
}

.header-big-article > h2 {
    font-family: Lobster;
    font-size: 40px;
    margin-bottom: 13px;
    margin-top: 20px;
}

.header-big-article > p {
    font-family: Roboto;
    font-size: 24px;
    margin-top: 0;
}

.header-small-article {
    background: #D3F8E2;
    max-width: 570px;
    max-height: 105px;
    border-radius: 20px;
    padding: 1px 15px 1px 15px;
    font-size: 24px;
    margin-top: 29px;
}

.header-small-article > p {
    margin-top: 10px;
}

.arrow-header > img {
    margin-top: 10px;
    margin-left: 60%;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.services {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.services-header {
    display: flex;
    width:968px;
    border-bottom: 5px solid #E4C1F9;
}

.services-header > h2 {
    margin-top: 0;
    margin-bottom: 36px;
    font-family: Lobster;
    font-size: 36px;
}

.services > article {
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin-top: 50px;
    max-width: 1000px;
    margin-left: -5px;
}

.services-cards {
    width: 470px;
    height: 594px;
    border: 5px solid #E4C1F9;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s all;
    background: #F9F9F9;
    cursor: pointer;
}

.services-cards:last-child {
    margin-top: 20px;
}

.services-cards:nth-last-child(2) {
    margin-top: 20px;
}

.services-cards > img {
    max-width: 437px;
    max-height: 356.5px;
}

.services-cards > h2 {
    font-family: Lobster;
    font-size: 32px;
    width: 437px;
    margin-bottom: 15px;
    align-items: flex-start;
}


.services-cards > p {
    font-size:24px;
    max-width: 437px;
    margin-top: 0;
}

.services-cards:hover {
    opacity: 50% ;
    transform: rotateZ(4deg);
}

.price-cards {
    position: absolute;
    top: 0;
}

.price-cards:nth-of-type(2){
    background: #D3F8E2;
    top:80px;
    left:-150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 202px;
    border-radius: 100px;
    z-index: -1;
}

.price-cards:nth-of-type(3){
    background: #D3F8E2;
    top:80px;
    right:-150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 202px;
    border-radius: 100px;
    z-index: -1;
}

.price-cards:nth-of-type(4){
    background: #D3F8E2;
    top:700px;
    left:-150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 202px;
    border-radius: 100px;
    z-index: -1;
}

.price-cards:nth-of-type(5){
    background: #D3F8E2;
    top:700px;
    right:-150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 202px;
    height: 202px;
    border-radius: 100px;
    z-index: -1;
}

.services-link {
    text-align: center;
    margin-top: 40px;
}

.info {
    position: relative;
    display: flex;
    margin-top: 244px;
    justify-content: center;
}

.info > article {
    background: #A9DEF9;
    max-height: 288px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 70px;
}

.info > article > p {
    max-width: 445px;
    font-family: Roboto;
    font-size: 24px;
}

.info > div {
    position: absolute;
    top:-200px;
}

.figures{
    position: absolute;
}

.figures:nth-of-type(1){
    left: -500px;
    top: 60px;
}

.figures:nth-of-type(2){
    right: -300px;
    top:60px;
}

.figures:nth-of-type(3) {
    top: 650px;
    right: -300px;
}

.figures:nth-of-type(4) {
    top: 730px;
    left: -180px;
}

.form {
    margin-top: 177px;
    display: flex;
    justify-content: center;
}

.form-group {
    background: #D3F8E2;
    border-radius: 20px;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.form-group > form {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.form-group > form > input{
    background: #A9DEF9;
    width: 450px;
    height: 34px;
    max-width: 450px;
    max-height: 34px;
    border-radius: 20px;
    border:none;
    padding: 20px;
    transition: .3s all;
}

.form-group > form > input::placeholder {
    color: rgba(0, 0, 0, 0.41);
    font-family: Roboto;
    font-size:24px;
}

.form-group > form > input:hover {
    opacity: 0.5;
}

.form-group > form > button {
    background: #EDE7B1;
    border-radius: 10px;
    border: none;
    max-width:180px;
    height: 52px;
    font-family: Roboto;
    font-size:24px;
    transition: .3s all;
}

.form-group > form > button:hover{
    opacity: 0.5;
}

.form-group > img {
    width: 163px;
    height: 75px;
}

.form-group > form > h2 {
    font-family: Lobster;
    font-size: 36px;
    margin-top: 0;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 447.5px;
    margin-top: 100px;
    background: url("../images/Footer-bg.png") center bottom / 100% 447.5px no-repeat;
}

footer > div {
    margin-top: 200px;
    margin-right: 500px;
}

footer > img {
    margin-top:200px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .bar {
    display: none;
    width: 25px;
    height: 3px;
    background-color: #333;
}

.modal-div2 > button {
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .head-navigation {
        gap: 100px;
        align-items: center;
        width: 800px;
    }
    .head-navigation > p {
        font-size: 24px;
        min-width: 250px;
    }

    .logo {
        margin-right: 0;
    }

    nav {
        display: none;
        transition: all 0s;
    }

    nav a {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #D3F8E2;
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        transition: transform 0.3s ease-out;
        transform: translateX(100%);
        width: 100%;
        max-width: 300px;
        height: 100vh;
    }
    nav.active {
        display: flex;
        transform: translateX(0);
    }

    a {
        font-size: 20px;
    }

    .head-navigation > div {
        order: 2;
    }

    .active a {
        display: flex;
        transition: all 0s;
    }

    .burger-menu {
        display: flex;
    }

    .burger-menu .bar {
        display: flex;
    }

    body {
        overflow-x: hidden;
    }

    .header-big-article {
        max-width: 400px;
    }

    .header-big-article p {
        font-size: 20px;
    }

    .header-big-article h2 {
        font-size: 26px;
    }

    .header-small-article {
        max-width: 400px;
    }

    .header-small-article p{
        font-size: 20px;
    }

    .services {
        justify-content: center;
        max-width: 500px;
    }

    .services > article {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .services-header {
        max-width: 480px;
    }

    .info article{
        max-width: 300px;
        max-height: 320px;
    }

    .info p {
        font-size: 20px;
        margin-top: 0;
    }

    .modal {
        width: 500px;
        max-width: 800px;
    }

    .modal-div2 {
        margin-top: 50px;
    }

    .modal-div2 > img{
        width: 340px;
        max-width: 400px;
    }

    .modal-div2 > button {
        margin-top: 100px;
    }

    .modal-div1 > p {
        font-size: 20px;
    }

    .modal-div1 > h2 {
        font-size: 24px;
    }

}

