html, body {
    overflow-x: hidden;
}

body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 24px;
    background: #F9F9F9;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-height: 1200px;
    max-height: 1300.5px;
    background: url("../images/head-bg.png") center top / 100% 600px no-repeat;
}
.head-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:16px;
    position: relative;
}

.logo {
    max-width: 163px;
    max-height: 75px;
    margin-right: 83px;
    cursor: pointer;
}

.head-nav {
    display: flex;
    gap: 43px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.47);
}

.head-navigation > div {
    display: flex;
    gap: 13px;
}

main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 447.5px;
    margin-top: 100px;
    background: url("../images/Footer-bg.png") center bottom / 100% 447.5px no-repeat;
}

footer > div {
    margin-top: 200px;
    margin-right: 500px;
}

footer > img {
    margin-top:200px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu .bar {
    display: none;
    width: 25px;
    height: 3px;
    background-color: #333;
}

h2{
    font-family: Lobster;
}

.masters-info h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-article p{
    width: 570px;
    padding:20px 0px 20px 0px;
    text-indent: 10px;
    background: #D3F8E2;
    border-radius: 20px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.img-border{
    padding: 10px;
    border:2px solid #A9DEF9;
    background: white;
    max-height: 521px;
}

.info-text-block{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 429px;
    padding: 20px;
    border:2px solid #A9DEF9;
    margin-top: 350px;
    margin-right: -370px;
}

.info-text-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 400px;
    height: 429px;
    padding: 20px;
    border:2px solid #A9DEF9;
}

.master-card-content {
    display: flex;
    margin-right: 120px;
}

.master-card-content-2 {
    display: flex;
    margin-left: 160px;
    margin-top: -300px;
}

.master-card-first {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    margin-right: auto;
    margin-left: 170px;
}

.master-card-right{
    display: flex;
    justify-content: end;
    margin-top: -500px;
}

.master-card-left{
    display: flex;
    justify-content: start;
}

.section-hidden {
    opacity: 0;
    transform: translateY(500px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.section-visible {
    opacity: 1;
    transform: translateY(0) ;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #A9DEF9;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 4s linear infinite, colorChange 4s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes colorChange {
    0% { border-top-color: #A9DEF9; }
    25% { border-top-color: #EDE7B1; }
    50% { border-top-color: #E4C1F9; }
    75% { border-top-color: #D3F8E2; }
    100% { border-top-color: #1B1B1B; }
}

.loader-section {
    display: none;
}

nav {
    z-index: 1000;
}

@media (max-width: 1024px) {
    .head-navigation {
        gap: 100px;
        align-items: center;
        width: 800px;
    }
    .head-navigation > p {
        font-size: 24px;
        min-width: 250px;
    }

    .logo {
        margin-right: 0;
    }

    nav {
        display: none;
        transition: all 0s;
    }

    nav a {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #D3F8E2;
        padding: 50px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        transition: transform 0.3s ease-out;
        transform: translateX(100%);
        width: 100%;
        max-width: 300px;
        height: 100vh;
        z-index: 9999;
    }
    nav.active {
        display: flex;
        transform: translateX(0);
        z-index: 9999;
        width: 100%;
    }

    a {
        font-size: 20px;
    }

    .head-navigation > div {
        order: 2;
    }

    .active a {
        display: flex;
        transition: all 0s;
    }

    .burger-menu {
        display: flex;
    }

    .burger-menu .bar {
        display: flex;
    }

    body {
        overflow-x: hidden;
    }

    .master-card-content-2 {
        margin-top: 100px;
        margin-left: 0;
    }

    .master-card-content {
        margin-right: 0;
    }

    .master-card-first {
        margin-top: 0;
        margin-left: 200px;
        margin-left: 200px;
    }

    .master-card-right {
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .master-card-left {
        display: flex;
        justify-content: center;
    }

    footer > div {
        margin-right: 200px;
    }

}
